.userAvatar {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}

.dropdown {
    margin-left: auto;
    padding-right: 15px;
}

.menuIcon {
    color: #c8ced3;
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
}

.dropdowns {
    display: flex;
    justify-content: end;
}

.dropdown_header {
    background: #e4e7ea;
    border-bottom: 1px solid #babdbd;
    text-align: center !important;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 0.76562rem;
    color: #73818f;
}

.dropdown_item {
    border-bottom: 1px solid #babdbd;
}