.col1{
    width: 370px;
    text-align: center;
    margin: 0 auto;
}

.row1{
    height: 120px;
    background-color: azure;
    margin-bottom: 80px;
}

.row1 p{
    font-weight: 600;
}

.btnViolet{
    background-color: #673ab7;
    border-radius: 800px;
    border:none;
    font-size:17px;
    color:#fff;
}