.content {
    color: black;
    background-color: rgb(223, 221, 221);
    width: 100%;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.select {
    width: 40%;
}

.inputSearch {
    width: 40%;
}

.btnSearch {
    width: 13%;
    height: 38px;
}

.list_group {
    width: 40%;
}

h2 {
    display: flex;
    justify-content: center;
}