.main {
    padding-bottom: 35px;
    background-color: rgba(228, 222, 222, 0.89);
}
.carousel {
    max-height: 500px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 55%;
    margin: 0 auto;
}

img {
    max-height: 500px;
    width: 70%;
}