.main {
    background-color: rgba(228, 222, 222, 0.89);
}
.carousel {
    max-height: 500px;
    padding: 15px 15px;
    width: 55%;
    margin: 0 auto;
}

img {
    max-height: 500px;
    width: 70%;
}