.icons {
    color: #16ae74;
}
.cancelIcon {
    color: rgb(230, 59, 59);
}
.card{
    width: 100%;
    margin:50px auto;
    a{
        text-decoration: none;
        color: #673ab7;
    }
}

.tutorMenu{
    color: #673ab7;
    text-align: center;
}
.btnGroupe{
    text-align: center;
    .btn1{
        width: 100px;
        margin:20px 10px;
    }
}

.textModule{
    text-align: center;
}