//  .con {
//     display: flex;
//     // width: 100%;
//     flex-direction: row;
//     justify-content: flex-end;
//  }
 .nav {
    background-color: #16a374;
    // display: flex;
    // width: 100%;
    // flex-direction: row;
    // justify-content: flex-end;
}

.logo {
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
}

.logo Link {
    text-decoration: none;
}

.logo Link:hover {
    color: rgb(252, 249, 249);
}

.nav_item {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.nav_items {
    color: white;
    text-decoration: none;
}

// .dropdown {
//     display: flex;
//     width: 100%;
//     flex-direction: row;
//     justify-content: flex-end;
// }

.userAvatar {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}