 .myColor {
    background-color: #16a374;
}

.logo {
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
}

.logo Link {
    text-decoration: none;
}

.logo Link:hover {
    color: rgb(252, 249, 249);
}

.nav_item {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.nav_items {
    color: white;
    text-decoration: none;
    margin-right: 145px;
}

.dropdown {
    margin-left: 860px;
}

.userAvatar {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 50%;
}