.navbar {
    box-shadow: 10px 5px 5px rgb(223, 221, 221);
}

.Mtutor {
    font-weight: bold;
    margin-left: 25px;
    color: #138a62; 
    text-decoration: none;
}

// Link {
//     text-decoration: none;
// }

.dropdown {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 15px;
}

.sign_up {
    font-weight: 400;
    color: #138a62;
    margin-left: 20px;
    text-decoration: 0;
}

.btnGroub{
    
    display: flex;
    align-items: center;

}
