.courses_container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.courses_btn{
    margin-bottom: 10px;
    text-align: left;
}

// thead{
//     text-align: center;
// }

// tbody{
//     text-align: center;   
// }


