.courses-container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    }
    
.courses-btn{
    margin-bottom: 10px;
}

thead{
    text-align: center;
}

tbody{
    text-align: center;   
}

input{
    width: 100%;
    text-align: center;
}

.Pagination{
    margin:0  auto;

}

.courses-pagination{
    margin-left: 500px;
}

