%form-lab{
    margin-top: 10px;
    margin-right: 20px;
}

.register{
    font-size: 14px;
    color: #000;
    width: 1240px;
    margin-bottom: 135px;
    .Cards{
        width: 540px;
        margin:50px 0 0 420px;
        .headCard{
            background-color: #16A374;
        }
        .btnGroup{
            .btn{
                width: 144px;
                font-size: 14px;
            }
        }
    }
}

.formBlock{
    padding: 0 20px;
   .formGroup{
        display: flex;
        flex-wrap: wrap;
        .control{
            width: 337px;
        }
        .formLabel{
            @extend %form-lab;
            width: 95px;
        }
        small{
            color: #73818f;
            width: 200px;
            margin-left: 115px;
        }
    } 
}



.header{
    color: #000;
    text-align: center;
    margin-bottom: 24px;
    h5{
        margin: 0;
        padding: 0;
        width: 460px;
    }
}