.main {
    background-color: #e4e5e6;
    padding: 15px;
    color: #000;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 0.875rem;
}

.title_main {
     margin-left: 400px;
}

h1 {
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

// .cardsHeader {
//     background-color: #16a374;
//     color: white;
// }

.Mtutor {
    color: #16a374;
    margin-left: 190px;
    text-decoration: none;
}

.card {
    width: 33%;
}