 .myColor {
    background-color: #16a374;
}

.logo {
    font-weight: bold;
    margin-left: 20px;
}

.logo a {
    color: #fff;
}

.logo a:hover {
    color: rgb(252, 249, 249);
}

.drop {
    margin-left: 860px;
}

.dropdown {
    margin-left: 980px;
}

.userAvatar {
    width: 35px;
    height: 35px;
    margin-bottom: 0;
    background-color: #fff;
    border-radius: 50%;
}